.list {
  flex: 4;
  padding: 10px 10px 2px 2px;
}

.listTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.listTop {
  display: flex;
}

.listTopLeft,
.listTopRight {
  flex: 1;
}

.listTopRight {
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.listInfoImg {
  width: 330px;
  height: 220px;
  border-radius: 6%;
  object-fit: cover;
  margin-right: 20px;
}

.listInfoTop {
  display: flex;
  align-items: center;
}

.listName {
  font-weight: 605;
}

.listInfoBottom {
  margin-right: 2px;
}

.listInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.listInfoKey{
  margin-right: 5px;
}

.listInfoValue {
  font-weight: 300;
}

.listBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.listForm {
  display: flex;
  justify-content: space-between;
}

.listFormLeft {
  display: flex;
  flex-direction: column;
}

.listFormLeft>label {
  margin-bottom: 10px;
  color: gray;
}

.listFormLeft>input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.listFormLeft>select{
  margin-bottom: 10px;
}

.listUploadImg{
  width: 460px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.listFormRight{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listUpload{
  display: flex;
}

.listFormRightUpload{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.listButton{
  width: 100%;
  height:50px;
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: darkblue;
  color:white;
  font-weight: 600;
  cursor: pointer;
}